{{ define "company.footer" }}
<footer class="site-footer">
   
    <!-- footer bottom part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span> © Copyright by <i class="fa fa-heart m-lr5 text-red heart"></i>
                    <a href="javascript:void(0);">Intern-Seek </a> All rights reserved.</span> 
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer END -->

<!-- js -->
<script src="../assets/js/jquery-3.2.1.slim.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>
{{ end }}